<ion-view id="home" cache-view="false">
  <!--头部搜索栏-->
  <div id="headerBar" class="headerBar">
    <div id="headerBar-bg"></div>
    <a class="headerBar-search">
      <span></span>
      <div>
        <input  maxlength="20" autocomplete="true" value="美妆1元起 独家放价"/>
      </div>
    </a>
    <div class="headerBar-logo">
      <i></i>
    </div>
  </div>
  <ion-content id="home-content" class="scroll-content" >

    <!-- 下拉刷新控件, pulling-text属性表示提示文字信息，on-refresh是刷新所触发的函数-->
    <ion-refresher pulling-text="下拉刷新" on-refresh="jobs_doRefresh()"></ion-refresher>

    <!--头部滚动条-->
    <div class="headerSlider">
      <div id="headerSlider" class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" ng-repeat="imgurl in images">
            <img ng-src="{{imgurl}}">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

    <div class="row">
      <div class="col col-50">
        <div class="row">
          <img class="col-40 jobs_center_img" ng-src="{{content1.img}}">
          <div class="col-60">
            <h5>{{content1.name}}</h5>
            <p>{{content1.desc}}</p>
          </div>
        </div>
      </div>
      <div class="col col-50">
        <div class="row">
          <img class="col-40 jobs_center_img" ng-src="{{content2.img}}">
          <div class="col-60">
            <h5>{{content2.name}}</h5>
            <p>{{content2.desc}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- 使用列表 -->
    <ion-list>
      <!-- 列表的行控件 -->
      <ion-item ng-repeat="job in jobs" ng-click="jobs_gotoDetail(job)">
        <h3>{{job.title}}</h3>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
